/* Base styles */
body {
    overflow: hidden;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.score-container {
    color: #776e65;
}

#score {
    font-weight: 600;
}

.grid {
    width: 100%;
    max-width: 25em;
    height: 100%;
    max-height: 25em;
    background-color: #cdc1b5;
    border: 5px solid #bbada0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5em;
}

.box {
    width: calc(100% / 4 - 10px);
    height: calc(100% / 4 - 10px);
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#over-text {
    color: #ffffff;
}

#result {
    color: #ffffff;
}

.hide {
    display: none;
}

.box-2 {
    background-color: #eee4da;
    color: #727371;
}

.box-4 {
    background-color: #eee1c9;
    color: #727371;
}

.box-8 {
    background-color: #f3b27a;
    color: white;
}

.box-16 {
    background-color: #f69664;
    color: white;
}

.box-32 {
    background-color: #f77c5f;
    color: white;
}

.box-64 {
    background-color: #f75f3b;
    color: white;
}

.box-128 {
    background-color: #edd073;
    color: white;
}

.box-256 {
    background-color: #edcc63;
    color: white;
}

.box-512 {
    background-color: #edc651;
    color: white;
}

.box-1024 {
    background-color: #eec744;
    color: white;
}

.box-2048 {
    background-color: #ecc230;
    color: white;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        margin-top: -35px;
    }

    .grid {
        width: 20em;
        height: 20em;
    }

    .box {
        width: calc(11em / 4 - 8px);
        height: calc(11em / 4 - 8px);
        font-size: 31.1px;
    }

    .score-container {
        font-size: 1.2em;
        margin-left: 5%;
    }

    #over-text {
        font-size: 1.5em;
    }

    #start-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media (orientation: landscape) and (max-width: 600px) {
    .grid {
        width: 25em;
        height: 25em;
    }

    .box {
        width: calc(20em / 4 - 6px);
        height: calc(20em / 4 - 6px);
        font-size: 25px;
    }

    .score-container {
        font-size: 1em;
    }

    #over-text {
        font-size: 1em;
    }

    #start-button {
        font-size: 0.8em;
        padding: 8px 16px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .grid {
        width: 70%;
        height: 70%;
    }

    .box {
        width: calc(20em / 4 - 10px);
        height: calc(20em / 4 - 10px);
        font-size: 21.5px;
    }

    .score-container {
        font-size: 1.2em;
        margin-left: 27%;
    }

    #over-text {
        font-size: 1.5em;
    }

    #start-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media (min-width: 1201px) {
    .container {
        margin-top: 1em;
    }

    .grid {
        width: 20em;
        height: 20em;
    }

    .box {
        width: calc(20em / 4 - 10px);
        height: calc(20em / 4 - 10px);
        font-size: 17.50px;
    }

    .score-container {
        font-size: 1.6em;
        margin-left: 40%;
    }

    #over-text {
        font-size: 2em;
    }

    #start-button {
        font-size: 1.5em;
        padding: 10px 20px;
    }
}